{% extends '::baseAdmin.html.twig' %}

{% block bodyClass %}museumEdit{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/backend/museum/edit.js') }}"></script>
    <script src="{{ asset('js/backend/wikiImagePicker.js') }}"></script>
    
    <script type="template/twig" id="searchResult-tpl" data-twig-id="AppBundle:Museum:_searchResult.html.twig">
        {{ source('AppBundle:Museum:_searchResult.html.twig') }}
    </script>
    
    <script type="template/twig" id="articlePreview-tpl", data-twig-id="AppBundle:Article:_preview.html.twig">
        {{ source('AppBundle:Article:_preview.html.twig') }}
    </script>
    
    <script>
        window.articles = {{ museum.articles.toArray|json_encode|raw}};
    </script>
{% endblock %}

{% block content -%}
    <h1>Bewerk museum "{{ museum.name }}"</h1>

    {{ form(form) }}
    
    <div class="row searchBar">
        <div class="col-sm-12">
            <label for="search" class="control-label">Zoek artikelen om toe te voegen</label>
        </div>
        <div class="col-sm-3">
            <select name="" id="searchLang" class="form-control"></select>
        </div>
        <div class="col-sm-9">
            <div class="input-group">
                <input id="search" type="text" class="form-control" placeholder="Zoek op naam artikel">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Zoek</button>
                </span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="searchResults"></div>
        </div>
    </div>
    
    <div class="articlePreviews"></div>
    
    <div class="spinner" style="display: none">Bezig met ophalen vertalingen...</div>

    <ul class="record_actions">
        <li>
            <a class="btn btn-default" href="{{ path('museum') }}">
                Terug naar museum overzicht
            </a>
        </li>
        {% if museum.id %}
            <li>
                <a class="btn btn-default" href="{{ path('museum_show', { 'id': museum.id }) }}" target="_blank">
                    <i class="glyphicon glyphicon-new-window"></i>
                    Bekijk in app
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
