{% extends '::baseAdmin.html.twig' %}

{% block content -%}
    <h1>Museum</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ museum.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ museum.name }}</td>
            </tr>
        </tbody>
    </table>

            <ul class="record_actions">
        <li>
            <a class="btn btn-default" href="{{ path('museum') }}">
                Back to list
            </a>
        </li>
        <li class="index_action">
            <a class="btn btn-primary" href="{{ path('museum_edit', { 'id': museum.id }) }}">
                Edit
            </a>
        </li>
        {% if delete_form is defined %}
            <li class="delete_action">{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
