<!DOCTYPE html>
<html>
    <head>
        <title>Wikipedia Collections</title>
    
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta id="viewport" name="viewport" content="width=768, initial-scale=1, maximum-scale=1, user-scalable=no"> {# changed by javascript #}
        <link rel="apple-touch-icon" href="{{ asset('img/icon.png') }}">
    
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700|PT+Sans:400,700,400italic,700italic&subset=cyrillic,cyrillic-ext,latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('compiled/frontend.css') }}" type="text/css" />
        
        <script>
            window.app = {
                museum: {{ museum|json_encode|raw }},
                allLanguages: {{ allLanguages|json_encode|raw }},
                defaultLanguages: {{ defaultLanguages|json_encode|raw }},
            };
        </script>
        <script src="http://analytics.frontwise.com/piwik.js"></script>
        <script type="text/javascript" src="{{ asset('compiled/frontend.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
        <script type="template/twig" id="articleBar-tpl">
            {{ source('FrontBundle:Museum:_articleBar.html.twig') }}
        </script>
        
        <script type="template/twig" id="articleHeader-tpl">
            {{ source('FrontBundle:Article:_header.html.twig') }}
        </script>
        
        <script type="template/twig" id="related-tpl">
            {{ source('FrontBundle:Article:_related.html.twig') }}
        </script>
        
    <body>
        <div class="articleBarWrap">
            <div class="articleBar"></div>
        </div>
        
        <div class="contentBg">
            <div class="articleContent"></div>
        </div>
        
        <div class="roundSpinner articleSpinner"></div>
        
        <div class="scrollReminder">
            <h1>Scroll om te beginnen</h1>
        </div>
        
        <div class="tocMenu"></div>
        
        <div class="topBar">
            <div class="searchButton"></div>
            
            {# Text size #}
            <div class="languageButton"></div>
            <div class="languageOverlay">
                <img src="{{ asset('img/close.svg') }}" alt="Close" class="close">
                <h5>Taal selectie</h5>
                <div class="languages">
                    {% for language, name in defaultLanguages %}
                        <div class="language" data-language="{{ language }}">
                            <img src="{{ asset('img/flags/' ~ language ~ '.png') }}" class="flag">
                            <span class="label">{{ name }}</span>
                        </div>
                    {% endfor %}
                </div>
                <input type="text" class="search" placeholder="Doorzoek talen...">
                <div class="searchResults"></div>
            </div>
            
            <div class="textSizeButton"></div>
            <div class="textSizeOverlay">
                <img src="{{ asset('img/close.svg') }}" alt="Close" class="close">
                <h5>Tekstgrootte</h5>
                <div class="sizes">
                    {% for size in ['normal', 'medium', 'large'] %}
                        <div class="size {{ size }}">
                            <span class="letter">A</span>
                            <span class="label">{{ size }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="carousel">
                <div class="side top">Top</div>
                
                <div class="side front">
                    <img src="{{ asset('img/logo.png') }}" alt="Wikipedia Collections" height="40px">
                </div>
                
                <div class="side bottom">Bottom</div>
                
                <div class="side back">Back</div>
            </div>
            <div class="menuButton"></div>
        </div>
        
        <div class="searchOverlay">
            <img src="{{ asset('img/close.svg') }}" alt="Close" class="close">
            <h5><span class="numResults">0</span> resultaten voor</h5>
            <input type="text" class="search" placeholder="Typ je zoekopdracht">
            <div class="articleExample">
                <div class="img"></div>
                <span class="label"></span>
            </div>
            <div class="searchResults"></div>
        </div>
        
        <div class="imageOverlay">
            <img src="{{ asset('img/close.svg') }}" alt="Close" class="close">
            <div class="spinner"></div>
        </div>
        
    </body>
</html>