<!DOCTYPE html>
<html>
    <head>
        <title>Wikipedia Collections</title>
    
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta id="viewport" name="viewport" content="width=768, initial-scale=1">
        <link rel="apple-touch-icon" href="{{ asset('img/icon.png') }}">
    
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700|PT+Sans:400,700,400italic,700italic&subset=cyrillic,cyrillic-ext,latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('compiled/frontend.css') }}" type="text/css" />
        
        <script>
            window.museum = {{ museum|json_encode|raw }};
        </script>
        <script type="text/javascript" src="{{ asset('compiled/frontend.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
        <script type="template/twig" id="articleBar-tpl">
            {{ source('FrontBundle:Museum:_articleBar.html.twig') }}
        </script>
        
        <script type="template/twig" id="articleHeader-tpl">
            {{ source('FrontBundle:Museum:_articleHeader.html.twig') }}
        </script>
        
    <body>
        <div class="topBar">
            <div class="carousel">
                <div class="side top">Top</div>
                
                <div class="side front">
                    <img src="{{ asset('img/logo.png') }}" alt="Wikipedia Collections" height="40px">
                </div>
                
                <div class="side bottom">Bottom</div>
                
                <div class="side back">Back</div>
            </div>
            <div class="menuButton"></div>
        </div>
        
        <div class="articleBarWrap">
            <div class="articleBar"></div>
        </div>
        
        <div class="articleContent"></div>
        
        <div class="tocMenu">
            
        </div>
    </body>
</html>